<head>
   <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
 <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
</head>
<body>
  <div id = "header">
    <h1 id = 'title'> welcome to [untitled] </h1>
    <h4 id = 'slogan'> your portal to the unexplored </h4>
  </div>
      <% if user_signed_in? %>
      <div class="large-2 columns">
        <div id="favebar">
      <h5 id = "my_trip"><%= link_to "MY TRIP TO PROVIDENCE", :controller => "attractions", :action => "user_favorites" %></h5>
        <div class="panel">
          <% current_user.attractions.each do |attraction| %>
            <h6 id='fave'><%= link_to attraction.title, attraction_path(attraction) %></h6>
            <%= link_to image_tag(attraction.avatar.url), attraction_path(attraction), :class => "img_overlay" %>
            <div class="wrap">
            <div class="removefave">
            <%= link_to favorite_attraction_path(attraction, type: "remove"), method: :put do%>
                remove from trip
            <% end %>
            </div>
          </div>
          <% end %>
         </div>
      </div>
      </div>
    <% end %>

  <div class="row">
    <div class="large-12 columns">
   
   <!--  <div class="column"> -->
 <!-- Nav Sidebar -->
    <!-- This is source ordered to be pulled to the left on larger screens -->

 
      <!-- Search Bar -->
 
       <div id="searchbar">
         
            <form>
            <div id="searchbox">
                <div class="large-9 small-8 columns">
                  <%=text_field_tag "q", params[:q], placeholder: "Special interests or must-sees?" %>
                </div>
                <div class="large-3 small-3 columns">
                  <input type="submit" value="TAKE ME THERE" class="postfix button expand">
                </div>
            </div>
            </form> 
          </div>
      
     
 
       
        <% if @search %>
  <h5> <%= @search.total %> results </h5>
<% end %>
 
      <!-- End Search Bar -->
 
 
      <!-- Thumbnails -->
 
        <div class="row">
 
          <div class="large-12 show-for-small columns">
          <h3>Header</h3><hr>
        </div>

        <% @attractions.each do |attraction| %>
          <div class="large-3 small-6 columns">
            <div id = "thumbnails">
            <div class="panel">
               <h6><%= attraction.tagline %></h6>
               <div class="thumb">
                 <%= link_to image_tag(attraction.avatar.url), attraction_path(attraction) %>
               </div>
             <h6><%= attraction.title %></h6>
             <%= link_to favorite_attraction_path(attraction, type: "add"), method: :put do %>
                <i class="fi-plus"></i>
              </div>
             <% end %>
            </div>
          </div>
        <% end %>
 
        </div>


 
      <!-- End Thumbnails -->
 
 
      <!-- Footer -->
 
        <footer class="row">
        <div class="large-12 columns"><hr />
            <div class="row">
 
              <div class="large-6 columns">
                  <p>© Copyright no one at all. Go to town.</p>
              </div>
 
              <div class="large-6 columns">
                  <ul class="inline-list right">
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                    <li><a href="#">Link 4</a></li>
                  </ul>
              </div>
 
            </div>
        </div>
      </footer>
 
      <!-- End Footer -->
 
 
    <!-- </div> -->
  </div>
</div>

<div id="table">
<%= link_to "Add a new attraction", new_attraction_path %>
<br/>
<br/>
<table>
  <table border="1" 
cellpadding="10">
	<tr>
		<th>Title</th>
		<th>Tagline</th>
    <th>Tags</th>
<% @attractions.each do |attraction| %>
<tr>
<td><%= link_to attraction.title, attraction_path(attraction) %></td>
<td><%= attraction.tagline %></td>
<td><%= raw attraction.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></td>
<td><%= link_to "Add to Trip", favorite_attraction_path(attraction, type: "add"), method: :put %></td>
<td><%= link_to "Edit", edit_attraction_path(attraction) %></td>
<td> <%= link_to "Destroy", attraction_path(attraction), method: :delete, data: {confirm: "Are you sure?"} %></td>
</tr>
<% end %>
</table>

 <% if user_signed_in? %>
  <h3> My Trip to Providence </h3>
<table>
  <table border="1" 
cellpadding="10">
  <tr>
    <th>Title</th>
    <th>Tagline</th>
    <th>Tags</th>
<% current_user.attractions.each do |attraction| %>
<tr>
<td><%= link_to attraction.title, attraction_path(attraction) %></td>
<td><%= attraction.tagline %></td>
<td><%= raw attraction.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></td>
<td><%= link_to "Remove from Trip", favorite_attraction_path(attraction, type: "remove"), method: :put %></td>
</tr>
<% end %>
</table>
</div>
<% current_user.attractions.each do |attraction| %>
<div id="map" data-cloudmadekey="<%= ENV["04adbf8bbff34eb69d1658aef8974b03"] %>">
  <%= map(:center => {
    :latlng => [41.823550, -71.422132],
    :zoom => 14
  },
  :markers => [
    {
       :latlng => [attraction.latitude, attraction.longitude]
    }
  ]
) %>
<% end %>
</div>
<% end %>
</body>
