 <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
 <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>

<h1><%= @attraction.title %> </h1>
<%= image_tag @attraction.avatar.url(:medium) %>

<div id="map" style="height: 360px" data-cloudmadekey="<%= ENV["04adbf8bbff34eb69d1658aef8974b03"] %>">
  <%= map(:center => {
    :latlng => [@attraction.latitude, @attraction.longitude],
    :zoom => 18
  },
  :markers => [
    {
       :latlng => [@attraction.latitude, @attraction.longitude],
       :popup => @attraction.title
    }
  ]
) %>
</div>

<p> <b>Price: </b> $ <%= @attraction.price %> </p>
<p> <b>Address: </b> <%= @attraction.address %> </p>
<p> <b>Website: </b> <%= @attraction.link %> </p>
<p> <b>Tags: </b> <%= raw @attraction.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %> </p>
<h2> About </h2> <p> <%= @attraction.content %> </p>

 <%= link_to "Add to Trip",   favorite_attraction_path(@attraction, type: "add"), method: :put %> |
 <%= link_to "Remove from Trip", favorite_attraction_path(@attraction, type: "remove"), method: :put %>
<br/>
<br/>
<%= link_to "Back", attractions_path %> |
<%= link_to "Edit", edit_attraction_path %> |
<%= link_to "Destroy", attraction_path(@attraction), method: :delete, data: {confirm: "Are you sure?"} %>