<h1>My Trip to Providence </h1>


<h3>Food</h3>
        <div class="row">
 
          <div class="large-12 show-for-small columns">>
        </div>

        <% current_user.attractions.tagged_with("food").each do |attraction| %>
          <div class="large-3 small-6 columns">
            <div id = "thumbnails">
            <div class="panel">
               <h6><%= attraction.tagline %></h6>
               <div class="thumb">
                 <%= link_to image_tag(attraction.avatar.url), attraction_path(attraction) %>
               </div>
             <h6><%= attraction.title %></h6>
             <%= link_to favorite_attraction_path(attraction, type: "remove"), method: :put do %>
                <i class="fi-minus"></i>
              </div>
             <% end %>
            </div>
          </div>
        <% end %>
 
        </div>

    <h3>Nightlife</h3>
        <div class="row">
 
          <div class="large-12 show-for-small columns">
        </div>

        <% current_user.attractions.tagged_with("nightlife").each do |attraction| %>
          <div class="large-3 small-6 columns">
            <div id = "thumbnails">
            <div class="panel">
               <h6><%= attraction.tagline %></h6>
               <div class="thumb">
                 <%= link_to image_tag(attraction.avatar.url), attraction_path(attraction) %>
               </div>
             <h6><%= attraction.title %></h6>
             <%= link_to favorite_attraction_path(attraction, type: "remove"), method: :put do %>
                <i class="fi-minus"></i>
              </div>
             <% end %>
            </div>
          </div>
        <% end %>
 
        </div>

        <h3>Outdoors</h3>
        <div class="row">
 
          <div class="large-12 show-for-small columns">
        </div>

        <% current_user.attractions.tagged_with("outdoors").each do |attraction| %>
          <div class="large-3 small-6 columns">
            <div id = "thumbnails">
            <div class="panel">
               <h6><%= attraction.tagline %></h6>
               <div class="thumb">
                 <%= link_to image_tag(attraction.avatar.url), attraction_path(attraction) %>
               </div>
             <h6><%= attraction.title %></h6>
             <%= link_to favorite_attraction_path(attraction, type: "remove"), method: :put do %>
                <i class="fi-minus"></i>
              </div>
             <% end %>
            </div>
          </div>
        <% end %>
 
        </div>

<% current_user.attractions.each do |attraction| %>
  <div id="map" data-cloudmadekey="<%= ENV["04adbf8bbff34eb69d1658aef8974b03"] %>">
  <%= map(:center => {
    :latlng => [41.823550, -71.422132],
    :zoom => 14
  },
  :markers => [
    {
       :latlng => [attraction.latitude, attraction.longitude]
    }
  ]
) %>
<% end %>
</div>